<div class="login_area">

  <form class="login_form" action="/login" method="post">
  
  	<div class="xtitle">
  	
  	  Nao-RCC
  	
  	</div>
  	
  	<div class="xtitle subtitle">
  	
  	  Authentication Service
  	
  	</div>
  	
  	<div class="text">
  	
  	  Please login with your e-mail address and password to access Nao Remote Control Center.
  	
  	</div>
  	
  	<div class="box">
  	
  	  <div class="email">
  	  
  	    <label class="email">E-mail address</label>
  	    
  	    <input class="email" type="text" name="email" value="" />
  	  
  	  </div>
  	  
  	  <div class="passwd">
  	  
  	    <label class="passwd">Password</label>
  	    
  	    <input class="email" type="password" name="passwd" value="" />
  	  
  	  </div>
  	
  	</div>
  	
  	<div class="submit">
  	
  	    <input class="submit" type="submit" name="submit" value="Login" />
  	  
  	</div>
  
  </form>

</div>